@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?z4sbl3');
  src:  url('../fonts/icomoon.eot?z4sbl3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?z4sbl3') format('truetype'),
    url('../fonts/icomoon.woff?z4sbl3') format('woff'),
    url('../fonts/icomoon.svg?z4sbl3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pallete:before {
  content: "\e900";
}
.icon-settings:before {
  content: "\e901";
}
.icon-history:before {
  content: "\e902";
}
.icon-layers:before {
  content: "\e903";
}
.icon-drag:before {
  content: "\e904";
}
.icon-add:before {
  content: "\e905";
}
.icon-remove:before {
  content: "\e906";
}
