$white: #fff;
$bg-body: #B6BEC6;

$dusk: #4D607C;

$grey: #ACBDD3;
$grey-25: rgba(172, 189, 211, 0.25);
$grey-75: rgba(172, 189, 211, 0.75);

$light-grey: #F3F7FB;
$light-grey-75: rgba(172, 189, 211, 0.75);

$dark-grey: #768BA7;

