@import '../../assets/scss/variables.scss';

.sidebar {
  position: fixed;
  width: 100%;
  padding: 12px 28px 28px;
  right: 0;
  top: 0;
  bottom: 0;
  color: $dusk;
  background-color: $light-grey;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    max-width: 360px;
  }
}