@import './assets/scss/variables';

body {
  margin: 0;
  background-color: $bg-body;

  & > iframe {
    display: none !important;
  }
}

.app {
  position: relative;
}

@import './assets/scss/sidebar';
@import './assets/scss/tabs';
@import './assets/scss/color-library';
@import './assets/scss/icons';
