@import './assets/scss/variables';

body {
  margin: 0;
  background-color: $bg-body;

  & > iframe {
    display: none !important;
  }
}

@import './assets/scss/color-library';
@import './assets/scss/icons';
